body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  /* color: #fff !important; */
  color: #fff !important;
}

.header-menu {
  float: right;
  align-items: end !important;
  margin-right: 2rem;
}

.nav-link {
  display: inline-block;
  padding: 15px;
  color: white !important;
}

.nav-link:hover {
  /* font-weight: bold; */
  color: aquamarine;
}

.nav-item:hover {
  /* color: Blue; */
  border-bottom: 3px solid rgb(255, 255, 255);
  /* color: #0093E9 !important; */
}

.navbar-brand {
  padding-left: 2rem;
}

.main {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%,  #46bedc  100%);

  /* background: #780206; 
background: linear-gradient(to right, #061161, #780206);  */
/* #01aac7 */
  /* background-attachment: fixed; */
  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
  
  /* background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%); */

  /* background: linear-gradient(to bottom, #182F6F 0%, #091128 100%); */
  /* background: linear-gradient(to bottom, #5C39FF 0%, #09061A 100%) !important; */


}

.dark {
  background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
}

.card {
  background: transparent !important;
  color:white !important;
  border: #46bedc 1px solid !important;
  
}
.btn-project {
  padding-top: 1rem;
}
.more-projects:hover {
 color: #0093E9 !important;
}
.card:hover {
  box-shadow: #4a99c7 3px 3px 3px;
  background-color: #51e1f7 !important;
}
.project-size {
  float: right;
  align-items: end !important;
  font-size: smaller !important;
}
.project-language {
  font-size: smaller !important;
}
.hello-text {
  color: aliceblue;
}
.header-brand {
  display: inline;
  padding-left: 2px;
  color: whitesmoke;
}

.header-brand:hover {
  color: #b5d3e4 !important;
}
.skill-inline {
  display: inline-block;
  /* align-items: center; */
  margin-bottom: 20px;
  margin-right: 20px
}

.skill-inline:hover {
  /* box-shadow: #4a99c7 3px 3px 3px; */
  color: #0093E9 !important;
}
p {
  font-size: small;
}
.dev-icons {
  font-size: 3rem;
  list-style: none
}

.linkedin-text {
  padding-left: 0.5rem;
}

.checkbox-switch {
  margin: 0.5rem;
}

.social {
  color:#0093E9  !important;
  margin: 0.5rem;
}

.social:hover {
  color: #0093E9  !important;
  background: white;
}
.project-card {
  margin: 0.5rem;
  background-color: #2bb6dc !important;
  /* box-shadow: #b5d3e4 0px 10px 30px -15px; */
  width: 48%;
  display: inline-block !important
}

.skill-row {
  margin: 1rem;
  padding-top: 1rem;
}
.experience-card-own {
  margin: 1rem;
  border: #02646e solid;
  border-radius: 2%;

  /* padding: 2; */
}

.scroll-button {
  position: fixed;
  left: 90%;
  bottom: 70px;
  /* size: 10%; */
  /* width: 5%;
  height: 10%; */
  color: #2bb6dc !important;
}
.company-icon {
  position: relative;
  width: 20% !important;
  height: 100%;
  padding-top: 25%;
  border-radius: 25%;
  /* margin-left: 12%; */

}
#skill-text {
  font-size: larger;
}
#more-skill {
  font-size: medium;
}
#headerImage {
  width: 10%;
  height: 10%;
}

#btn-linkedin {
  padding: 0.5rem;
  margin: 1rem;
}

#btn-linkedin:hover {
  color: #0093E9;
}

.company-name {
  padding-top: 20%
}

#ge-div {
  color: #3B73B9;
}

#tcs-details {

  background-image: linear-gradient(to right, #FDB90E 0%, #F80102 50%, #7800DA 100%);
  border-radius: 5% 0% 0% 5%;
}
#tcs-div {  
}
#brand-name {
  padding-left: 0.5rem;
}
#programmer {
  border-radius: 10% 30% 50% 70%;
}

#person-hello {
  border-radius: 60% 60% 60% 60%;
  width: 120%;
  height: 100%;
}

#skill-img {
  border-radius: 50% 20% / 10% 40%;
  width: 75%;
  height: 75%;
  margin-top: 10%;
}
/* #btn-github {
  color:#333333
} */
#btn-cv {
  padding: 0.5rem;
}

#btn-cv:hover {
  color: #0093E9;
}
#job-title-text {
  color: white
}

#name-text {
  color: rgb(218, 246, 9)
}

#desc-text {
  color: aliceblue !important;

}

.contact-header-text {
  display:block;
  padding-left: 33%;
  padding-top: 10%;
}

.social-icons {
  /* margin: 1rem; */
  padding-left: 33%;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

.social-contact {
  /* padding: rem; */
  padding-left: 7%;
  font-size: x-large;
  color: #fff;
}

.footer {
  text-align: center;
  padding-bottom: 5%;
}
.social-contact:hover {
  color: #02646e;
}
/* experience card */
.experience-card {
  position: relative;
  background-color: #fff;
  box-shadow: #999 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid aqua;
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.experience-card:hover {
  box-shadow: #999 0px 20px 30px -10px;
}

.experience-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  background: red;
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0rem;
  justify-content: center;
}

.experience-div-company {
  position: absolute;
  background: transparent;
  height: 9rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-text-company {
  text-align: center;
  padding: 1.5rem;
  margin: 0;
  color: green;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.experience-roundedimg {
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem #999;
  border-radius: 50%;
}

.experience-text-role {
  text-align: center;
  color: blue;
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
  padding-top: 1.5rem;
  line-height: normal;
}

.experience-text-date {
  text-align: center;
  color: blue;
  font-size: 20px;
  margin: 0px;
  padding-top: 1rem;
  font-weight: 600;
}

.experience-text-desc {
  text-align: center;
}

.experience-text-details {
  padding: 1.5rem;
  margin-top: 2rem;
}
.hamburger-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  /* .hamburger-menu {
    display: flex;
  } */

  .header-menu {
    display: none;
  }
}