body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  color: #fff !important;
}

.header-menu {
  float: right;
  align-items: end !important;
  margin-right: 2rem;
}

.nav-link {
  display: inline-block;
  padding: 15px;
  color: white !important;
}

.nav-link:hover {
  font-weight: bold;
  color: aquamarine;
}

.nav-item:hover {
  color: Blue;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar-brand {
  padding-left: 2rem;
}

.main {
  background-attachment: fixed !important;
  /* background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%); */

  /* background: linear-gradient(to bottom, #182F6F 0%, #091128 100%); */
  background: linear-gradient(to bottom, #5C39FF 0%, #09061A 100%) !important;


}


.hello-text {
  color: aliceblue;
}

.linkedin-text {
  padding-left: 0.5rem;
}

.checkbox-switch {
  margin: 0.5rem;
}

.social {
  color: whitesmoke;
  margin: 0.5rem;
}

.project-card {
  margin: 0.5rem;
}

.experience-card {
  margin: 1rem;
}

#headerImage {
  width: 10%;
  height: 10%;
}

#btn-linkedin {
  padding: 0.5rem;
  margin: 1rem;
}

/* #btn-github {
  color:#333333
} */
#btn-cv {
  padding: 0.5rem;
}

#job-title-text {
  color: white
}

#name-text {
  color: rgb(218, 246, 9)
}

#desc-text {
  color: rgb(184, 197, 192)
}

/* experience card */
.experience-card {
  position: relative;
  background-color: #fff;
  box-shadow: #999 0px 10px 30px -15px;
  border-radius: 10px;
  border: 1px solid aqua;
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.experience-card:hover {
  box-shadow: #999 0px 20px 30px -10px;
}

.experience-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  background: red;
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0rem;
  justify-content: center;
}

.experience-div-company {
  position: absolute;
  background: transparent;
  height: 9rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-text-company {
  text-align: center;
  padding: 1.5rem;
  margin: 0;
  color: green;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.experience-roundedimg {
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem #999;
  border-radius: 50%;
}

.experience-text-role {
  text-align: center;
  color: blue;
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
  padding-top: 1.5rem;
  line-height: normal;
}

.experience-text-date {
  text-align: center;
  color: blue;
  font-size: 20px;
  margin: 0px;
  padding-top: 1rem;
  font-weight: 600;
}

.experience-text-desc {
  text-align: center;
}

.experience-text-details {
  padding: 1.5rem;
  margin-top: 2rem;
}